/* Style des cases */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Ubuntu', sans-serif;
background-color: #b4b4b4;
}
.cell {
    display: flex;

    justify-content: center;
    align-items: center;
    font-size: 48px;
    color: #333;
    cursor: pointer;
    height: 10vw;
    box-sizing: border-box; /* Inclure les bordures et le padding dans les dimensions */
    border: 5px solid #3e4a4b; /* Ajout d'une bordure */
    transition: all ease-in-out 0.2s;
    color: #0f0f0f;
    font-weight: bold;
    background-color: transparent;
  }
  
 
  
  
  .cell:hover {
    background-color: #5a68d1;
    transform:  scale(1.03);
  }/* Style des cases */

  
  /* Style de la grille */
  .board {
    display: grid;
    grid-template-columns: repeat(3, 12vw);
    grid-gap: 2px;
    margin: 0 auto;
    background-color: rgb(153, 163, 218);
    background-size: 200% 200%;
  }
  
 
  /* Style du résultat */
  .result {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .result p {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .result button {
    padding: 10px 20px;
    width: 25vw;
    font-size: 18px;
    background-color: #ffffff;
    color: #000000;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .result button:hover {
    background-color: #d6d6d6;
  }
  
  
