* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif;

}

.btn-default {
    border-radius: 40px;
}
.btn-default:hover {
    opacity: 0.9;
    cursor: pointer;
}

#profil-picture {
    clip-path: polygon(0 6%, 100% 6%, 100% 90%, 0 90%);

}
.header-content {
    color: rgb(66, 66, 66);
}

/* ABOUT-ME */
@media screen and (max-width: 1199px) {

    #about-me #img-about-me {
        display: none;
    }
}