#sectionProfil {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}
#sectionProfil h2 {
  font-size: 40px;
}
#sectionProfil div #profil-picture {
  width: 27vh;
  border-radius: 200px;
  border: 2px solid rgb(88, 88, 88);
}
#sectionProfil .profil-content {
  margin-left: 3%;
}
.profil-links {
  text-align: center;
  margin: 3%;
}

@media screen and (max-width: 768px) {
  #sectionProfil .profil-content {
    margin-left: none;
  }
  #sectionProfil {
    margin-top: 10%;
    flex-direction: column;
  }
}
