body {
  margin: 0;
  padding: 0;
  background: rgb(26,28,28);
  color: rgb(230, 230, 230);
  font-family: 'Roboto', sans-serif;
  
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5%;
}
#game-memory {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;

}

#restart {
  background-color: rgb(255, 255, 255);
  padding: 7px 13px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: black;
  gap: 10px;
  transition: 0.3s ease-in-out;
  border: 3px solid transparent;

}

#restart img {
  width: 20px;
}

#about-me {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 2%;
}
#restart:hover {
  border: 3px solid rgb(77, 113, 160);
  transform: scale(0.92);
  opacity: 0.90;
}

#game-bar {
  display: flex;
  gap: 15px;
  margin-bottom: 2%;
  align-items: center;
}



button:hover {
  opacity: 0.9;
}

h2 {
  margin-bottom: 2%;
}

.card {
  width: 120px;
  height: 150px;
  background-color: rgb(85, 85, 85);
  border-radius: 10%;
  margin: 10px;
  cursor: pointer;
  margin: auto;
  border: 2px solid rgb(179, 177, 177);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  transition: 0.2s ease-in;
  overflow: hidden;
}
.hidden::before {
  content: '';
  background-color: rgb(77, 113, 160);
  width: 20px;
  height: 120%;
  transform: rotate(45deg);
}
.hidden:hover {
  transform: scale(1.1);
  box-shadow: 1px -1px 115px 7px rgba(66, 66, 66, 0.75);
-webkit-box-shadow: 1px -1px 115px 7px rgba(71, 70, 70, 0.75);
-moz-box-shadow: 1px -1px 115px 7px rgba(54, 54, 54, 0.75)
}

.found {
  cursor: default;
}

.card0 {
  background-color: rgb(255, 255, 255);
}
.card0::before {
  content:url('../img/react.png');
}

.card1 {
  background-color: rgb(241, 67, 67);
}
.card1::before {
  content:url('../img/angular.png');
}

.card2 {
  background-color: yellow;
}

.card2::before {
  content:url('../img/js.png');
}

.card3 {
  background-color: rgb(154, 223, 154);
}
.card3::before {
  content:url('../img/node-js.png');
}
.card4 {
  background-color: rgb(97, 97, 224);
}
.card4::before {
  content:url('../img/webpack.png');
}

.card5 {
  background-color: rgb(255, 225, 255);
}
.card5::before {
  content:url('../img/sass.png');
}



@media screen and (max-width: 768px) {
 
  #game-memory {
    grid-template-columns: repeat(3, 1fr);
  
  }
  .card {
    width: 80px;
    height: 110px;
    
  }
}

@media screen and (max-width: 382px) {
 
  .card {
    width: 60px;
    height: 90px;
    
  }
}






