body {
  margin: 0;
  padding: 0;
  color: rgb(235, 235, 235);
  background-color: rgb(37, 37, 37);
  font-family: 'Roboto', sans-serif;
  
}
a {
  color:rgb(230, 230, 230) ;
  text-decoration: none;

}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5%;
}
#game {
  display: flex;
  gap: 20px;
  align-items: center;

}

#start {
  background-color: rgb(68, 68, 68);
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}

#game-write {
  font-size: 20px;
  font-weight: bold;

}

input {
  border-radius: 10px;
  border: none;
  padding: 10px;
}



