html,
body {
  height: auto;
  min-height: 100%;
}
body {
  background-image: linear-gradient(
    to right top,
    #000000,
    #090909,
    #111111,
    #171717,
    #1c1c1c
  );
  font-family: 'Montserrat', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  color: rgb(209, 209, 209);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
a {
  text-decoration: none;
}
